<!DOCTYPE html>
<html>
<head>
  <title>Scale by Startup Chile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">




    <% current_uri = request.env['PATH_INFO'] %>

    <% if current_uri == "/" %>

   

            <!-- Header -->
            <header id="top" class="header">

                

                <div class="text-vertical-center">
                    
                	<div class="col-md-8 col-md-offset-2">
        	            <h1>Start-Up Chile has a new follow on fund!</h1>
        	            <p>Startups that join the program will now have the chance to avoid the valley of death with additional funding. Of course, significant traction and hard work will be required to win this new fund that Start-up Chile is releasing.</p>
        	            <br>
        	           
        	            <a href="#startupid" id="applybutton" class="btn btn-dark btn-lg page-scroll">Learn More</a>
                	</div>
                </div>


                

            </header>




            <!-- Navigation -->
            <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top">Scale Application</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#startupid">Company Information</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#representative">Representative</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="#startupbasic">Startup Information</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="#business">Business</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="#team">Team</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
    <% end %>

    <%= yield %>

    
 
 <br />
 <br />
 <br />
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Start-up Chile</strong>
                    </h4>
                    <p>Providencia 744<br>Santiago, Chile</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@startupchile">info@startupchile.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.facebook.com/startupchile"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/startupchile"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Startup Chile 2014</p>
                </div>
            </div>
        </div>
    </footer>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>

</body>
</html>
